{
  "env": {

  },
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "4",
          "browsers": ["ie>=8"]
        },
        "loose": false,
        "useBuiltIns": true
      }
    ]
  ],
  "plugins": [
//    "transform-object-rest-spread"
  ]
}
